body{
    background-color: #d9d9d9;
}

a{
    text-decoration: none;
    color: #d9d9d9;
    display: block;
    padding-bottom: 2rem;
  }

.nav-img{
    width: 30%;
}

.card-div{
    display: flex;
    justify-content: space-around;
}

.card-text{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.btn{
    position: relative;
    left: 6rem;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    color: black;
    font-family: 'Patrick Hand', cursive;
}

.btn:hover{
    color: #d9d9d9;
    background-color: black;
    border: 1px solid black;
}

.card-text:hover{
    color: #d9d9d9;
}

.explanation{
    width: 18rem;
}

.card{
    width: 18rem;
}

.card-mg{
    margin: 5rem 0rem;
}

footer{
    background-color: black;
    font-weight: 900;
    color: white;
    font-size: 1rem;
    font-family: 'Patrick Hand', cursive;
  }
  
  .footer-box1{
    display: flex;
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 1rem;
  }
  
  .footer-box2{
    display: flex;
    justify-content: space-between;
  }
  
  .footer-display{
    text-align: center;
    display: none;
  }

@media screen and (max-width:48rem){
    .card{
        width: 12rem;
    }

    .explanation{
        width: 12rem;
    }

    .card-mg{
        margin: 2rem 0rem;
        } 
        
    .card-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn{
        left: 3rem;
    }

    a{
        padding-bottom: 1rem;
      } 
      
    .footer-box2{
    border-bottom: 1px solid white;
    }

    .footer-display{
    display: block;
    }
}